body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: #dde1e7;
}

.content {
    width: 100%;
    max-width: 860px; /* 預設電腦寬度 */
    aspect-ratio: 4 / 4; /* 設定固定比例 (寬:高 = 4:5) */
    padding: 40px 30px;
    background: #dde1e7;
    border-radius: 10px;
    box-shadow: -3px -3px 7px #ffffff73,
                2px 2px 5px rgba(94,104,121,0.288);
    box-sizing: border-box;
}
  
  .content .text {
    font-size: 5em;
    font-weight: 600;
    margin-top: 60px;
    margin-bottom: 60px;
    color: #595959;
  }
  
  .field {
    font-size: 40px;
    height: 120px;
    width: 100%;
    display: flex;
    position: relative;
  }
  
  .field:nth-child(2) {
    margin-top: 60px;
  }
  
  .field .input {
    height: 100%;
    width: 100%;
    padding-left: 45px;
    outline: none;
    border: none;
    font-size: 40px;
    background: #dde1e7;
    color: #595959;
    border-radius: 75px;
    box-shadow: inset 2px 2px 5px #BABECC,
                inset -5px -5px 10px #ffffff73;
  }
  
  .field .input:focus {
    box-shadow: inset 1px 1px 2px #BABECC,
                inset -1px -1px 2px #ffffff73;
  }
  
  .field .span {
    position: absolute;
    color: #595959;
    width: 50px;
    line-height: 110px;
  }
  
  .field .label {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 45px;
    pointer-events: none;
    color: #666666;
  }
  
  .field .input:valid ~ label {
    opacity: 0;
  }
  
  .forgot-pass {
    text-align: left;
    margin: 20px 0 20px 10px;
  }
  
  .forgot-pass a {
    font-size: 22px;
    color: #666666;
    text-decoration: none;
  }
  
  .forgot-pass:hover a {
    text-decoration: underline;
  }
  
  .button {
    margin: 15px 0;
    width: 100%;
    height: 120px;
    font-size: 50px;
    line-height: 50px;
    font-weight: 600;
    background: #dde1e7;
    border-radius: 75px;
    border: none;
    outline: none;
    cursor: pointer;
    color: #595959;
    box-shadow: 2px 2px 5px #BABECC,
               -5px -5px 10px #ffffff73;
  }
  
  .button:focus {
    color: #3498db;
    box-shadow: inset 2px 2px 5px #BABECC,
               inset -5px -5px 10px #ffffff73;
  }
